.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  height: auto;
  position: relative;
  margin-bottom: 4px;
  background-color: var(--dl-color-scheme-airblue);
}
.home-max-width {
  position: relative;
  align-items: center;
  justify-content: center;
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.home-content {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  position: relative;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.home-image {
  top: 135px;
  right: -489px;
  width: 369px;
  height: 404px;
  position: absolute;
  object-fit: cover;
}
.home-subtitle {
  color: var(--dl-color-scheme-lightblue);
  align-self: flex-start;
  margin-top: var(--dl-space-space-fiveunits);
  margin-left: 0px;
}
.home-title {
  color: var(--dl-color-scheme-white);
  width: auto;
  font-size: 52px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 0px;
  font-family: Roboto;
  font-weight: 600;
  line-height: 1.2;
  margin-left: 0px;
}
.home-text06 {
  color: var(--dl-color-scheme-pink);
}
.home-description {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  align-self: flex-start;
  margin-top: 0px;
  line-height: 1.5;
  margin-left: 0t;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text10 {
  font-weight: 400;
}
.home-button {
  color: var(--dl-color-scheme-white);
  align-self: flex-start;
  border-color: rgba(0, 32, 91, 0);
  background-color: var(--dl-color-scheme-green);
}
.home-section {
  background-color: #f2f4fa;
}
.home-max-width1 {
  align-items: stretch;
}
.home-content1 {
  width: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-image1 {
  top: -18px;
  right: 27px;
  width: 389px;
  height: 232px;
  position: absolute;
  align-self: flex-end;
  object-fit: cover;
}
.home-text11 {
  color: var(--dl-color-scheme-airblue);
  margin-top: 0px;
  padding-top: var(--dl-space-space-sixunits);
  margin-bottom: 0px;
}
.home-text14 {
  color: var(--dl-color-scheme-airblue);
  font-size: 42px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.35;
}
.home-step {
  display: flex;
  padding-top: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-number {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-pink);
}
.home-text15 {
  color: var(--dl-color-scheme-white);
  font-size: 28px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.5;
}
.home-container02 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title1 {
  color: var(--dl-color-scheme-airblue);
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text16 {
  color: var(--dl-color-scheme-airblue);
  line-height: 1.5;
}
.home-text18 {
  font-style: normal;
  font-weight: 700;
}
.home-text20 {
  font-style: normal;
  font-weight: 700;
}
.home-step1 {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-number1 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-pink);
}
.home-text22 {
  color: var(--dl-color-scheme-white);
  font-size: 28px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.5;
}
.home-container03 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title2 {
  color: var(--dl-color-scheme-airblue);
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text23 {
  color: var(--dl-color-scheme-airblue);
  line-height: 1.5;
}
.home-step2 {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-number2 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-pink);
}
.home-text24 {
  color: var(--dl-color-scheme-white);
  font-size: 28px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.5;
}
.home-container04 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title3 {
  color: var(--dl-color-scheme-airblue);
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text25 {
  color: var(--dl-color-scheme-airblue);
  line-height: 1.5;
}
.home-step3 {
  display: flex;
  flex-direction: row;
}
.home-number3 {
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-scheme-pink);
}
.home-text26 {
  color: var(--dl-color-scheme-white);
  font-size: 28px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.5;
}
.home-container05 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title4 {
  color: var(--dl-color-scheme-airblue);
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text27 {
  color: var(--dl-color-scheme-airblue);
  line-height: 1.5;
}
.home-section1 {
  background-color: var(--dl-color-scheme-airblue);
}
.home-max-width2 {
  align-items: stretch;
}
.home-content2 {
  width: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text30 {
  font-size: 42px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text31 {
  color: var(--dl-color-scheme-white);
}
.home-text33 {
  color: var(--dl-color-scheme-white);
}
.home-text35 {
  color: #ff5100;
}
.home-image2 {
  top: -34px;
  right: -136px;
  width: 589px;
  height: 716px;
  position: absolute;
  object-fit: cover;
}
.home-question {
  width: 50%;
}
.home-trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-text36 {
  font-size: 20px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 600;
  line-height: 1.5;
}
.home-icon {
  width: 12px;
  height: 12px;
  display: none;
}
.home-text37 {
  align-self: flex-start;
  margin-top: 8px;
}
.home-question1 {
  width: 50%;
}
.home-trigger1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-text38 {
  font-size: 20px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 600;
  line-height: 1.5;
}
.home-text39 {
  margin-top: 8px;
}
.home-text40 {
  margin-top: 8px;
}
.home-question2 {
  width: 50%;
}
.home-trigger2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-text41 {
  font-size: 20px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 600;
  line-height: 1.5;
}
.home-text42 {
  margin-top: 8px;
}
.home-text43 {
  margin-top: 8px;
}
.home-question3 {
  width: 50%;
  margin-right: 1px;
}
.home-trigger3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-text44 {
  font-size: 20px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 600;
  line-height: 1.5;
}
.home-text45 {
  margin-top: 8px;
}
.home-text46 {
  margin-top: 8px;
}
.home-banner {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/artboard%2061-1200w.png");
}
.home-text47 {
  color: var(--dl-color-scheme-airblue);
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
  text-decoration: none;
}
.home-text48 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text51 {
  color: var(--dl-color-scheme-white);
  font-size: 20px;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.home-button1 {
  color: var(--dl-color-scheme-white);
  padding-top: 12px;
  border-color: rgba(255, 255, 255, 0);
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  background-color: var(--dl-color-scheme-airblue);
}
.home-footer {
  width: 100%;
  display: none;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container06 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-text56 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text57 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text58 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text59 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text60 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text62 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text63 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text64 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text65 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text66 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text68 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text69 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text70 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text71 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text72 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text73 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text75 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text76 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text77 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text78 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text81 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text84 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text85 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text86 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text87 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text89 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text90 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text91 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text92 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text93 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text94 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .home-hero {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-max-width {
    position: relative;
  }
  .home-container01 {
    height: auto;
    padding-top: var(--dl-space-space-twounits);
  }
  .home-content {
    width: 50%;
    margin-right: var(--dl-space-space-unit);
  }
  .home-image {
    right: -421px;
    width: 301px;
    bottom: 100px;
    height: 329px;
    position: absolute;
  }
  .home-subtitle {
    left: 26px;
    bottom: -100px;
    position: static;
    align-self: flex-start;
    margin-top: 0px;
    margin-left: 0px;
  }
  .home-title {
    color: var(--dl-color-scheme-white);
    width: auto;
    position: static;
    font-size: 52px;
    align-self: flex-start;
    font-style: normal;
    margin-top: 0px;
    font-family: Roboto;
    font-weight: 600;
    line-height: 1.2;
    margin-left: 0px;
  }
  .home-text05 {
    color: var(--dl-color-scheme-pink);
  }
  .home-text06 {
    color: var(--dl-color-scheme-pink);
  }
  .home-description {
    left: var(--dl-space-space-oneandhalfunits);
    color: var(--dl-color-scheme-white);
    right: 0px;
    bottom: -560px;
    position: static;
    font-size: 18px;
    align-self: flex-start;
    margin-top: 0px;
    line-height: 1.5;
    margin-left: 0px;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-text10 {
    font-weight: 400;
  }
  .home-button {
    color: var(--dl-color-scheme-white);
    align-self: flex-start;
    border-color: rgba(132, 189, 0, 0);
    background-color: var(--dl-color-scheme-green);
  }
  .home-section {
    width: auto;
    height: auto;
    margin-bottom: 0px;
  }
  .home-max-width1 {
    width: 100%;
    height: auto;
    position: relative;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-content1 {
    width: 100%;
    height: auto;
    align-items: stretch;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
  }
  .home-image1 {
    width: 343px;
    height: 207px;
    margin: auto;
    position: static;
    align-self: center;
    padding-bottom: 0px;
  }
  .home-text11 {
    margin-top: 0px;
    padding-top: var(--dl-space-space-twounits);
    margin-bottom: 0px;
  }
  .home-text14 {
    margin-bottom: 0px;
  }
  .home-section1 {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    background-color: var(--dl-color-scheme-airblue);
  }
  .home-max-width2 {
    height: auto;
    position: relative;
    flex-direction: column;
  }
  .home-content2 {
    width: 100%;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-text30 {
    font-size: 42px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 0px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-text31 {
    color: var(--dl-color-scheme-white);
  }
  .home-text33 {
    color: var(--dl-color-scheme-white);
  }
  .home-text35 {
    color: #ff5100;
  }
  .home-image2 {
    top: 98px;
    right: -182px;
    width: 533px;
    height: 665px;
  }
  .home-question {
    width: 50%;
  }
  .home-question1 {
    width: 50%;
    margin-right: 1px;
  }
  .home-question2 {
    width: 50%;
  }
  .home-question3 {
    width: 50%;
  }
  .home-banner {
    width: 100%;
    height: 375px;
    align-self: center;
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-text47 {
    letter-spacing: 0;
  }
  .home-text51 {
    color: var(--dl-color-scheme-white);
    font-size: 20px;
  }
  .home-footer {
    flex-direction: column;
  }
  .home-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .home-container06 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .home-hero {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
  }
  .home-max-width {
    flex-direction: column-reverse;
  }
  .home-container01 {
    width: 100%;
  }
  .home-content {
    width: auto;
    position: relative;
    padding-top: var(--dl-space-space-threeunits);
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-image {
    top: 23px;
    right: -259px;
    width: 221px;
    height: 258px;
    display: none;
    position: absolute;
  }
  .home-subtitle {
    position: static;
    align-self: flex-start;
    margin-top: 0px;
    margin-left: 0px;
  }
  .home-title {
    color: var(--dl-color-scheme-white);
    width: auto;
    height: auto;
    position: static;
    font-size: 50px;
    align-self: flex-start;
    font-style: normal;
    margin-top: 0px;
    font-family: Roboto;
    font-weight: 600;
    line-height: 1.2;
    margin-left: 0px;
  }
  .home-text05 {
    color: var(--dl-color-scheme-pink);
  }
  .home-text06 {
    color: var(--dl-color-scheme-pink);
  }
  .home-description {
    top: 280px;
    left: 1px;
    color: var(--dl-color-scheme-white);
    bottom: -187px;
    position: static;
    font-size: 18px;
    margin-top: 0px;
    line-height: 1.5;
    margin-left: 0px;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-text10 {
    font-weight: 400;
  }
  .home-button {
    color: var(--dl-color-scheme-white);
    align-self: flex-start;
    border-color: rgba(132, 189, 0, 0);
    background-color: var(--dl-color-scheme-green);
  }
  .home-section {
    width: auto;
    height: auto;
  }
  .home-content1 {
    width: auto;
    height: auto;
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .home-image1 {
    top: -65px;
    flex: 0;
    right: -3px;
    width: 390px;
    height: 232px;
    position: static;
    align-self: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0x;
  }
  .home-text11 {
    color: var(--dl-color-scheme-airblue);
    width: 100%;
    height: auto;
    align-self: flex-start;
    margin-top: 0px;
    padding-top: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .home-text14 {
    margin-bottom: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-section1 {
    width: 100%;
    height: auto;
    background-color: var(--dl-color-scheme-airblue);
  }
  .home-max-width2 {
    height: auto;
  }
  .home-content2 {
    width: auto;
    height: auto;
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: var(--dl-space-space-oneandhalfunits);
    margin-right: 0px;
  }
  .home-text30 {
    font-size: 42px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.25;
  }
  .home-text31 {
    color: var(--dl-color-scheme-white);
  }
  .home-text33 {
    color: var(--dl-color-scheme-white);
  }
  .home-text35 {
    color: #ff5100;
  }
  .home-image2 {
    top: -64px;
    right: -26px;
    width: 635px;
    height: 409px;
    margin-bottom: 0px;
  }
  .home-question {
    width: auto;
  }
  .home-question1 {
    width: auto;
  }
  .home-question2 {
    width: auto;
  }
  .home-question3 {
    width: auto;
  }
  .home-banner {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-twounits);
    align-self: center;
    margin-right: 0px;
    background-size: cover;
    background-image: url("public/artboard%2061-1200w.png");
  }
  .home-text51 {
    color: var(--dl-color-scheme-white);
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container06 {
    width: 100%;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .home-hero {
    width: auto;
    height: auto;
    padding-top: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .home-max-width {
    width: auto;
    position: relative;
  }
  .home-container01 {
    width: auto;
    height: auto;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: 0px;
    padding-bottom: 0px;
  }
  .home-content {
    width: auto;
    height: auto;
    position: relative;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
  }
  .home-image {
    top: 43px;
    right: -369px;
    width: 234px;
    height: 255px;
    display: none;
    position: absolute;
    padding-right: 0px;
  }
  .home-subtitle {
    top: 58px;
    left: 8px;
    bottom: 0px;
    height: auto;
    position: static;
    align-self: flex-start;
    margin-top: 0px;
    margin-left: 0px;
  }
  .home-title {
    left: 0px;
    color: var(--dl-color-scheme-white);
    width: auto;
    height: auto;
    position: static;
    font-size: 50px;
    align-self: flex-start;
    font-style: normal;
    margin-top: var(--dl-space-space-halfunit);
    font-family: Roboto;
    font-weight: 600;
    line-height: 1.2;
    margin-left: 0px;
  }
  .home-text05 {
    color: var(--dl-color-scheme-pink);
  }
  .home-text06 {
    color: var(--dl-color-scheme-pink);
  }
  .home-description {
    left: 0px;
    color: var(--dl-color-scheme-white);
    bottom: -632px;
    position: static;
    font-size: 18px;
    margin-top: 0px;
    line-height: 1.5;
    margin-left: var(--dl-space-space-halfunit);
    padding-top: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: 0t;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text10 {
    font-weight: 400;
  }
  .home-button {
    color: var(--dl-color-scheme-white);
    align-self: flex-start;
    background-color: var(--dl-color-scheme-green);
  }
  .home-section {
    width: auto;
    height: auto;
    position: relative;
    align-items: flex-start;
    padding-top: 29px;
    margin-bottom: 0px;
    flex-direction: column;
  }
  .home-max-width1 {
    width: auto;
    height: auto;
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-content1 {
    width: auto;
    height: auto;
    margin-top: 0px;
    padding-top: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .home-image1 {
    top: -85px;
    left: 18px;
    width: 265px;
    height: 155px;
    position: static;
    align-self: center;
    margin-top: var(--dl-space-space-halfunit);
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-text11 {
    color: var(--dl-color-scheme-airblue);
    font-size: 20px;
    margin-top: 0px;
  }
  .home-text23 {
    color: var(--dl-color-scheme-airblue);
    line-height: 1.5;
  }
  .home-text27 {
    color: var(--dl-color-scheme-airblue);
  }
  .home-section1 {
    width: auto;
    height: auto;
    position: relative;
    align-items: flex-start;
    padding-top: 29px;
    margin-bottom: 0px;
    flex-direction: column;
    background-color: var(--dl-color-scheme-airblue);
  }
  .home-max-width2 {
    width: auto;
    height: auto;
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-content2 {
    width: auto;
    height: auto;
    margin-top: 0px;
    padding-top: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .home-text30 {
    width: 100%;
    font-size: 42px;
    font-style: normal;
    margin-top: var(--dl-space-space-unit);
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.25;
    margin-right: 0px;
  }
  .home-text31 {
    color: var(--dl-color-scheme-white);
  }
  .home-text33 {
    color: var(--dl-color-scheme-white);
  }
  .home-text35 {
    color: #ff5100;
  }
  .home-image2 {
    top: -34px;
    right: -26px;
    width: 355px;
    height: 229px;
  }
  .home-question {
    width: auto;
  }
  .home-text36 {
    font-size: 20px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 600;
    line-height: 1.5;
  }
  .home-question1 {
    width: auto;
  }
  .home-question2 {
    width: auto;
  }
  .home-question3 {
    width: auto;
    height: auto;
  }
  .home-banner {
    width: auto;
    height: 366px;
    align-self: center;
    margin-top: var(--dl-space-space-oneandhalfunits);
    padding-top: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 0px;
    background-size: cover;
    justify-content: center;
    background-image: url("public/artboard%2061-1200w.png");
  }
  .home-text48 {
    color: var(--dl-color-scheme-white);
    font-size: 42px;
    font-style: normal;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.25;
  }
  .home-text51 {
    color: var(--dl-color-scheme-white);
    font-size: 16px;
    align-self: center;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.15;
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
    text-transform: none;
    text-decoration: none;
  }
  .home-text52 {
    color: var(--dl-color-scheme-white);
  }
  .home-text53 {
    color: var(--dl-color-scheme-white);
  }
  .home-text54 {
    color: var(--dl-color-scheme-white);
  }
  .home-text55 {
    color: rgba(255, 255, 255, 0.6);
  }
  .home-button1 {
    color: #ffffff;
    width: auto;
    height: auto;
    align-self: center;
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
    border-color: rgba(255, 255, 255, 0);
    margin-right: 0px;
    background-color: var(--dl-color-scheme-airblue);
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container06 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
}
